
/* main layout */
header{
  /* iep: fix header to top - no need to use position:sticky */
  position: fixed;
  top:0; left:0; right:0;
  z-index: 100;

  min-height: 5em;
  /* border: red solid 1px; */
}
/* iep: class for dark background, used for header when page is scrolled: */
.bg-dark-transperant{
  background-color: #999;
  opacity: .8;
}


/*
main{
  margin-top:5em;
  margin-bottom: 3em;
} */

/* header */
header .logo{
  width: 8em;
  height: 100%;
}
header nav{
  position: absolute;
  left: 13em;right: 0; top:1em;
  width: calc(100% - 13em);

  /* border: yellow solid 1px; */
}
.main-menu{
  /* position the whole UL menu to the right */
  float: right;
  /* border: green solid 1px; */
  /* margin-right: 9em; */
  padding:0em;
  margin:0em;
  margin-right: 2em;

}
.main-menu>li{
  /* position items next to each other */
  float: left;
  padding: .5em;
  box-sizing: border-box;
  display: block;

}
li >a{
display: block;
font-size: 18px;
margin:0 0.5em;
/* padding:.5em;
padding-bottom: 0.2em; */
width: 100%;
height: 50%;
/* border: 0.1em solid orange; */
text-decoration: none;
color: #fff;
text-shadow: 0.1em 0.1em #000;
/* font-family: 'Bad Script', cursive; */
font-family: 'Caveat', cursive;
font-weight: 900;
text-transform: uppercase;
text-align: center;
}
.clear::after{
  content:"";
  display: block;
  clear: both;
}
.menu_optional {
  position: relative;
}
.menu_optional>a::after{
position: absolute;
content: '';
width: 30px;
height: 1px;
/* background-color: #fff; */
bottom: 2px;
left: 3em;
transform: translateX(-50%);
}
a.active::after {

background-color: #fff;
}
.sub_menu{
  visibility: hidden;
  margin-top: 1em;
  /* height: 6em; */
 }
.services > .sub_menu > li >a{
  visibility: hidden;
font-size: 17px;
padding-top: 0.5em;
position: relative;
left:-4em;
width: 200%;
line-height: 1.7em;
color: #EEE;
box-sizing: border-box;
padding: 0em 2em;;
text-align: center;
text-transform: uppercase;
color: #fff;
text-shadow: 0.1em 0.1em #000;
/* font-family: 'Bad Script', cursive; */
font-family: 'Caveat', cursive;
 font-weight: 500;
}
.sub_menu>li:nth-child(4){
margin-top: 0.3em;
line-height: 1em;
}
.main-menu>li>a:hover:not(.active){
color: #000;
text-shadow: 0.01em 0.01em #fff9f6;
font-size: 20px;
}
.services{

  width: 6vw;
  position: relative;
}
/* .services:hover >.sub_menu{
  visibility: visible;
} */
.sub_menu >li>a:hover{
/* color: black;
text-shadow: none;
font-weight: 800;
cursor: pointer;
font-size:17px;
position: relative;
left: -10px; */
font-size: 17px;
padding-top: 0.5em;
position: absolute;
left:-3em;
width: 200%;
line-height: 1.7em;
color: #EEE;
box-sizing: border-box;
padding: 0em 2em;;
text-align: center;
text-transform: uppercase;
color: #fff;
text-shadow: 0.1em 0.1em #000;
 font-family: 'Bad Script', cursive;
  font-family: 'Caveat', cursive;
   font-weight: 500;
  background-color: rgba(105, 105, 105, 0.61);
  height: 4vh;

}
.services:hover> .sub_menu :nth-child(1)>a {
transform-origin: top center;
animation: rotateX 300ms 75ms ease-in-out forwards;
}
.services:hover >.sub_menu :nth-child(2)>a{
transform-origin: top center;
animation: rotateX 300ms 150ms ease-in-out forwards;
}
.services:hover>.sub_menu :nth-child(3)>a {
transform-origin: top center;
animation: rotateX 300ms 225ms ease-in-out forwards;
}
.services:hover>.sub_menu :nth-child(4)>a{
transform-origin: top center;
animation: rotateX 300ms 300ms ease-in-out forwards;
}

@keyframes rotateX {
0% {
opacity: 0;
transform: rotateX(-90deg);
visibility: visible;
}
50% {
transform: rotateX(-20deg);
visibility: visible;
}
100% {
opacity: 1;
transform: rotateX(0deg);
visibility: visible;
}



























